/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.article-box {
	position: relative;
	margin-bottom: var(--mbSection);
	.box-inner-wrap {
		display: flex;
		align-items: flex-start;
		margin: 0 -12px;
	}
	.section-invert {
		flex-direction: row-reverse;
	}
	.info-inner-wrap, .photo-inner-wrap {
		width: 50%;
		padding: 0 12px;
		flex-shrink: 0;
	}
	.items-wrap {
		margin: 0 -12px -24px -12px;
		&.col-2 {
			.item-wrap {
				width: 50%;
			}
			.elm-photo {
				height: 36rem;
			}
		}
	}
	.item-wrap {
		width: 100%;
		padding: 0 12px;
		margin-bottom: 24px;
	}
	.text-column-wrap {
		column-gap: 24px;
		columns: 2;
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		p, li, ol, ul {
			page-break-inside: avoid;
			break-inside: avoid-column;
		}
		&.col-one {
			columns: 1;
			width: 50%;
			padding: 0 12px 0 0;
		}
		&.col-3 {
			columns: 3;
		}
	}
	.elm-photo {
		height: 40rem;
		aspect-ratio: inherit;
	}
	p {
		margin-bottom: 16px;
	}
	.section-title, h1, h2, h3, h4, h5 {
		margin: 4rem 0 16px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:has(+.text-column-wrap) {
			max-width: 74rem;;
		}
	}
	.article-section-wrap {
		margin-bottom: var(--mbSection);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.section-lead {
		p {
			margin-bottom: 4rem;
		}
		.section-title+p {
			margin-top: 3rem;
		}
	}
	.text-small {
		b {
			font-weight: 500;
		}
	}
	.subtitle, .subtitle-medium, .subtitle-button {
		margin: 24px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.25em;
	}
	a {
		&:not(.btn) {
			color: inherit;
			&:hover {
				color: var(--clr-att);
			}
		}
	}
}
.tiles-gallery-box {
	margin-bottom: var(--mbSection);
	position: relative;
	.items-wrap {
		margin: 0 -12px -24px -12px;
		&+.items-wrap {
			margin-top: var(--mbSection);
		}
	}
	.item-wrap {
		padding: 0 12px;
		margin-bottom: 24px;
		width: 100%;
	}
	.elm-photo {
		aspect-ratio: inherit;
		height: 56rem;
	}
}
.form-box {
	margin-bottom: var(--mbSection);
	position: relative;
	max-width: 537px;
	.field-title {
		font-weight: 400;
		margin-bottom: 2px;
	}
	.frm-row, .frm-row-submit {
		margin: 0 -10px;
	}
	.frm-field {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 24px;
	}
	.frm-row-submit {
		padding-top: 6px;
		.btn {
			width: 100%;
		}
	}
}
.info-toggle-box {
	background: var(--clr-bg-blue);
	border-radius: 12px;
	margin-bottom: 20px;
	display: block;
	position: relative;
	color: var(--clr-base-second);
	.scroll-inner-wrap {
		max-height: 85.4rem;
		margin-left: 0;
		margin-right: -10px;
	}
	.search-inner-wrap {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.info-content-block {
		display: none;
		padding: 0 20px 20px 20px;
	}
	.btn-popup.btn {
		width: 100%;
		font-size: 16px;
		line-height: 1.1;
		min-height: 64px;
		padding-left: 20px;
		font-weight: 500;
		color: var(--clr-att);
		&.button-toggle {
			&:before {
				rotate: -90deg;
			}
			&.active {
				&:before {
					rotate: 0deg;
				}
			}
		}
	}
	.section-title {
		margin: 40px 0 20px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	.items-wrap {
		margin: 0;
	}
	.item-wrap {
		padding-bottom: 16px;
		margin-bottom: 16px;
		padding: 0 0 16px 0;
		width: 100%;
		border-bottom: 1px solid var(--clr-border);
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	.item-tile-salon {
		padding: 0;
		border-radius: 0;
		background: none;
		.tile-title {
			font-size: 1em;
			margin-bottom: 16px;
		}
	}
}
.info-features-box {
	position: relative;
	margin-bottom: var(--mbSection);
	font-weight: 500;
	line-height: 1.1;
	.box-inner-wrap {
		margin-bottom: 2.4rem;
	}
	.actions-inner-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 32px -2rem -16px 0;
	}
	.action-wrap {
		flex-shrink: 0;
		padding: 0 2rem 0 0;
		margin-bottom: 16px;
		width: 100%;
		.btn {
			text-align: left;
			justify-content: flex-start;
			height: 56px;
			border-radius: 12px;
			padding: 0 20px;
			min-width: 307px;
			font-size: 14px;
			width: 100%;
			&.button-second {
				&:not(:hover) {
					color: var(--clr-att);
				}
			}
		}
	}
	&:has(.section-hidden-content) {
		.section-hidden-content {
			display: none;
		}
		.section-action-wrap {
			display: block;
		}
	}
	&:has(.section-action-wrap .active) {
		.section-hidden-content {
			display: block;
		}
	}
	.section-hidden-content {
		margin-top: 12px;
	}
	.feature-wrap {
		display: block;
		position: relative;
		margin-bottom: 12px;
		page-break-inside: avoid;
		break-inside: avoid-column;
		width: 100%;
		.elm-ico {
			display: inline-block;
			vertical-align: middle;
			width: 18px;height: 18px;
			border-radius: 50%;
			margin: -6px 0 0 4px;
		}
	}
	.section-subtitle {
		margin: 12px 0 8px 0;
		color: var(--clr-base-second);
		font-weight: 400;
		line-height: 1.25;
		&:first-child {
			margin-top: 0;
		}
	}
	.section-action-wrap {
		margin-top: 12px;
		display: none;
		font-size: 14px;
	}
	.f-title {
		color: var(--clr-base-second);
	}
	.f-value {
		font-weight: 500;
	}
	.f-title, .f-value {
		display: inline;
		line-height: 1.25;
	}
	.section-title {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 24px;
	}
	.section-content {
		margin-bottom: 32px;
	}
	p {
		margin: 0;
	}
}
.info-order-box {
	position: relative;
	margin-bottom: var(--mbSection);
	.actions-inner-wrap {
		margin-top: 24px;
		margin-left: -4px;
		margin-right: -4px;
		display: flex;
		flex-wrap: wrap;
	}
	.action-wrap {
		width: 100%;
		padding: 0 4px;
		margin-bottom: 8px;
		.btn {
			width: 100%;
		}
	}
	.box-inner-wrap {
		border-radius: var(--mainRadius);
		background: var(--clr-bg-second);
		padding: 24px 12px 16px 12px;
	}
	.section-map {
		height: 284px;
		border-radius: 10px;
		margin-bottom: 20px;
		aspect-ratio: inherit;
	}
	.section-ico {
		width: 66px;height: 66px;
		border-radius: 16px;
		border: 2px solid var(--clr-att);
		margin: 0 0 24px 0;
		img, svg {
			max-width: 42px;
			max-height: 42px;
		}
	}
	.section-title {
		margin: 0 0 20px 0;
	}
	.h3-title {
		margin-bottom: 20px;
		margin-top: 0;
	}
	.subtitle {
		margin-bottom: 4px;
		margin-top: 0;
		font-size: 1em;
		color: var(--clr-base-light);
	}
	p {
		margin-bottom: 16px;
	}
}
.search-box {
	position: relative;
	margin-bottom: var(--mbSection);
	.info-inner-wrap {
		text-align: center;
		color: var(--clr-base-light);
		.section-title {
			margin: 0;
		}
		.elm-ico {
			width: 62px;height: 62px;
			margin: 0 auto;
			animation: rotate ease-in-out 1s infinite;
		}
	}
	.form-inner-button {
		display: none;
	}
	.form-inner-wrap {
		margin-bottom: 75px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.frm-main-search {
		.form-input {
			height: 44px;
			border-radius: var(--mainRadius);
		}
	}
}
.error-box {
	text-align: center;
	margin: 0 auto;
	padding: 50px 0;
	width: 100%;
	flex-shrink: 0;
	.error-title {
		font-size: 33.33vw;
		line-height: 0.7;
		font-weight: 600;
		margin: 0 0 32px 0;
		background: url(../img/404.jpg) 0% 0% / 50px 50px repeat;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.section-title {
		margin: 0 0 20px 0;
	}
	.btn {
		width: 100%;
		margin-top: 32px;
	}
	p {
		margin: 0;
	}
}
.order-box {
	position: relative;
	margin-bottom: var(--mbSection);
	&.type-bg {
		.form-inner-wrap {
			border-radius: var(--mainRadius);
			background: var(--clr-bg-blue);
			padding: 3.6rem 20px;
		}
		.frm-total-wrap {
			background: none;
			padding-bottom: 0;
		}
	}
	.frm-section-wrap {
		margin-bottom: 7px;
		&:has(.features-inner-wrap) {
			margin-bottom: 32px;
		}
	}
	.frm-section-title {
		margin-bottom: 27px;
	}
	.frm-total-wrap {
		display: block;
		position: relative;
		background: #fff;
		padding: 32px var(--paddingContainer) 24px var(--paddingContainer);
		margin-left: calc(var(--paddingContainer) * -1);
		margin-right: calc(var(--paddingContainer) * -1);
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: var(--paddingContainer);
			right: var(--paddingContainer);
			height: 1px;
			background: var(--clr-border);
		}
	}
	.frm-field {
		margin-bottom: 25px;
	}
	.row-select {
		.frm-field {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
		}
		.frm-select {
			margin: 0 24px 0 0;
			font-weight: 500;
			&:last-child {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
	.frm-field.active {
		.frm-results-wrap {
			display: block;
		}
	}
	.form-input, .frm-main-search .form-input {
		height: 50px;
		padding-left: 15px;
		font-size: 14px;
	}
	textarea.form-input {
		height: 101px;padding-top: 14px;
	}
	.frm-select {
		margin-bottom: 20px;
		font-weight: 500;
		input {
			&:checked {
				&~label {
					font-weight: 500;
				}
			}
		}
		label {
			background: none;
			padding-left: 20px;
			padding-right: 0;
			padding-top: 0;
			padding-bottom: 0;
			&:hover {
				background: none;
			}
			&:before, &:after {
				left: 7px;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.action-inner-wrap {
		margin-top: 24px;
		.btn {
			width: 100%;
			height: 42px;
			font-size: 16px;
		}
	}
	.elm-feature-row {
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
		.elm-feature-value {
			font-size: 16px;
			font-weight: 500;
		}
		&.row-main {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 500;
			.elm-feature-title {
				font-weight: 500;
				color: var(--clr-base);
			}
			.elm-feature-value {
				font-size: 1em;
				font-weight: 500;
			}
		}
	}
	.form-separate {
		width: 100%;
		display: none;
	}
}
.brand-about-box {
	margin-bottom: var(--mbSection);
	position: relative;
	color: var(--clr-base-second);
	.box-inner-wrap {
		border-radius: var(--mainRadius);
		background: var(--clr-bg-second);
		padding: 12px;
	}
	.info-inner-wrap {
		padding: 30px 8px 12px 8px;
		display: block;
		width: 100%;
	}
	.photo-inner-wrap {
		display: block;
		width: 100%;
		.elm-photo {
			border-radius: var(--mainRadius);
			aspect-ratio: 1;
			background: #fff;
		}
	}
	.title-inner-wrap {
		display: flex;
		align-items: flex-start;
		margin-bottom: 16px;
	}
	.section-title {
		margin: 0;
		flex: 1;
		padding-right: 15px;
		color: var(--clr-base);
		&:last-child {
			padding-right: 0;
		}
	}
	.h3-title {
		margin-bottom: 10px;
		color: var(--clr-base);
	}
	.elm-country {
		flex-shrink: 0;
		padding: 0 12px 0 8px;
		font-size: 16px;
		font-weight: 500;
		.elm-ico {
			width: 28px;height: 28px;
		}
	}
	p, li, ul, ol {
		margin: 0;
	}
}

.filter-catalog-box {
	position: relative;
	z-index: 30;
	.filter-selected-reset {
		flex-shrink: 0;
		margin: 0 12px 12px 0;
		.btn {
			height: 38px;
			line-height: 38px;
			color: #2D3648;
			font-size: 14px;
			font-weight: 400;
			&:hover {
				color: var(--clr-att);
			}
			.button-title {
				line-height: 1;
				border-bottom: 1px solid;
			}
		}
	}
	.filter-selected-wrap {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: -10px -12px 2rem 0;
		width: 100%;
		flex-shrink: 0;
		&:first-child {
			margin-top: 0;
		}
	}
	.filter-selected-content {
		display: flex;
		border-radius: 19px;
		padding: 0 20px 0 20px;
		align-items: flex-start;
		background: var(--clr-att-select);
		max-width: 100%;
		margin: 0 12px 12px 0;
	}
	.filter-selected-title {
		height: 38px;
		line-height: 38px;
		position: relative;
		font-size: 14px;
		color: var(--clr-base-second);
		padding: 0 8px 0 0;
		flex-shrink: 0;
	}
	.filter-selected-items {
		display: flex;
		flex-wrap: wrap;
		.btn-select {
		}
	}
	.filter-action-wrap {
		display: none;
	}
	.filter-title-wrap {
		display: none;
	}
	.filter-section-wrap {
		margin-bottom: 24px;
	}
	.section-side-panel {
		.frm-row {
			margin: 0 -10px;
		}
		.frm-field {
			padding: 0 10px;
			width: 100%;
			margin-bottom: 20px;
		}
		.field-half {
			width: 50%;
		}
		.field-title {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			margin: 0 0 8px 0;
		}
		.row-title {
			width: 100%;
			flex-shrink: 0;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
			letter-spacing: normal;
			margin: 0 0 12px 0;
			padding: 0 10px;
		}
	}
	.slider-inner-wrap {
		margin-bottom: 32px;
		margin-left: calc(var(--paddingContainer) * -1);
		margin-right: calc(var(--paddingContainer) * -1);
		padding-left: var(--paddingContainer);
		padding-right: 200px;
		.slider-wrap {
			margin: 0 -3px;
			overflow: visible;
		}
		.sl-wrap {
			padding: 0 3px;
			width: auto;
		}
		.frm-field-select {
			width: auto;
		}
	}
	.section-title {
		margin-bottom: 20px;
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px 0 -4px;
		line-height: 0;
		li {
			flex-shrink: 0;
			padding: 0 4px;
			margin-bottom: 8px;
		}
	}
	.frm-field-select {
		.filter-title-wrap, .filter-action-wrap {
			display: none;
		}
	}
}
.sort-catalog-box {
	display: none;
}
.title-box {
	margin-bottom: 20px;
	&.title-order {
		font-size: 2.2rem;
		margin-bottom: 32px;
		.section-title {
			margin-bottom: 2.4rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&:has(.title-action) {
		display: flex;
		align-items: flex-start;
		.section-title {
			flex: 1;
			margin: 0;
		}
	}
	.title-action {
		flex-shrink: 0;
		padding-left: 15px;
	}
	.btn.button-link {
		font-size: 16px;
		font-weight: 400;
		color: var(--clr-att);
		&:hover {
			color: var(--clr-base);
			.button-ico {
				filter: brightness(0) grayscale(1);;
			}
		}
		.button-ico {
			margin: 0 8px 0 0;
			width: 16px;height: 16px;
			&:last-child {
				margin: 0 0 0 8px;
			}
		}
	}
	.subtitle, .subtitle-small, .subtitle-medium {
		margin-bottom: 1.4em;
		&+* {
			margin-top: 0;
		}
	}
}
.tabs-box {
	margin-bottom: 20px;
	position: relative;
	.menu-inner-wrap {
		position: relative;
		display: inline-block;
		max-width: 100%;
		line-height: 1;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 0;right: 0;
			height: 2px;
			background: var(--clr-border);
		}
	}
	.menu {
		margin: 0 -16px;
		display: flex;
		flex-wrap: wrap;
		li {
			flex-shrink: 0;
			max-width: 100%;
		}
	}
}
.info-desc-box {
	margin-bottom: var(--mbSection);
	position: relative;
	color: var(--clr-base-second);
	.section-title {
		color: var(--clr-base);
	}
}
.info-card-box {
	position: relative;
	margin-bottom: var(--mbSection);
	display: flex;
	flex-direction: column;
	&:has(+.info-desc-box) {
		margin-bottom: 46px;
	}
	.info-content-wrap {
		margin-bottom: 32px;
		width: 100%;
		flex-shrink: 0;
	}
	.photos-slider-box {
		margin: 0;
	}
	.photos-inner-wrap {
		margin-bottom: 24px;
		width: 100%;
		flex-shrink: 0;
	}
	.info-inner-wrap {
		margin-bottom: 8px;
	}
	.price-inner-wrap {
		margin-bottom: 16px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.title-inner-wrap {
		display: flex;
		align-items: flex-start;
		margin-bottom: 16px;
	}
	.desc-inner-wrap {
		margin-bottom: 16px;
	}
	.features-inner-wrap {
		font-weight: 500;
		margin-bottom: 16px;
	}
	.section-inner-wrap {
		margin-bottom: 4px;
	}
	.buttons-inner-wrap {
		display: flex;
		margin: 0 -4px;
		flex-wrap: wrap;
	}
	.counter-inner-wrap {
		margin-bottom: 32px;
		margin-top: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.info-counter-value {
		font-size: 14px;
		color: var(--clr-base-light);
		margin: 8px 0 0 0;
		display: block;
	}
	.frm-field-select-panel {
		margin-bottom: 8px;
	}
	.button-wrap {
		padding: 0 4px;
		width: 100%;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		.btn {
			width: 100%;
		}
		&:has(.elm-tooltip) {
			.btn {
				max-width: calc(100% - 32px);
			}
		}
		.elm-tooltip {
			margin-left: 8px;
			&:first-child {
				margin: 0 8px 0 0;
			}
		}
	}
	.feature-wrap {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.title-wrap {
		flex: 1;
		display: flex;
		align-items: center;
		min-height: 36px;
	}
	.action-wrap {
		flex-shrink: 0;
		padding-left: 15px;
		.elm-ico {
			width: 36px;height: 36px;
			border-radius: 50%;
			
		}
	}
	.f-title, .price-title {
		font-weight: 400;
		color: var(--clr-base-second);
	}
	.f-title {
		display: inline;
		margin-right: 8px;
	}
	.f-value {
		font-weight: 500;
		display: inline;
	}
	.price-title {
		margin-bottom: 8px;
		width: 100%;
		flex-shrink: 0;
	}
	.elm-color, .elm-ico {
		display: inline-block;
		margin: 2px 4px 4px 0;
		vertical-align: middle;
		width: 24px;height: 24px;
	}
	.elm-ico {
		margin: -3px 0 0 2px;
		width: 16px;height: 16px;
		&.ico-large {
			width: 24px;height: 24px;
		}
	}
	.price-value {
		font-size: 18px;
		font-weight: 500;
		flex-shrink: 0;
		padding: 0 12px 0 0;
		max-width: 100%;
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&.price-old {
			font-size: 14px;
			color: var(--clr-base-second);
			text-decoration: line-through;
		}
		&.price-main {
			font-size: 22px;
		}
	}
	.elm-sticker {
		height: 32px;
		line-height: 32px;
		border-radius: 16px;
		font-size: 10px;
		margin-left: auto;
		&.type-border {
			font-weight: 500;
		}
	}
	.section-inner-title {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.25;
		color: var(--clr-base-second);
		margin: 0 0 8px 0;
		&.title-large {
			font-size: 16px;
		}
	}
	.section-inner-content {
		.list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -8px 0 0;
			li {
				padding: 0 8px 8px 0;
				flex-shrink: 0;
			}
			&:has(.elm-color) {
				margin: 0 -4px 0 0;
				li {
					padding: 0 4px 4px 0;
				}
			}
		}
	}
}
.photos-slider-box {
	margin-bottom: var(--mbSection);
	position: relative;
	.slider-media-main {
		position: relative;
		overflow: hidden;
		border-radius: var(--mainRadius);
		.slider-wrap {
			margin: 0;
		}	
		.sl-wrap {
			padding: 0;
		}
		.elm-photo {
			border-radius: 0;
			aspect-ratio: 340/212;
		}
	}
	.slider-media-thumbs {
		margin: 8px 0 0 0;
		position: relative;
		padding: 0 16px;
		.slider-wrap {
			position: relative;
			margin: 0 -4px;
		}
		.sl-wrap {
			padding: 0 4px;
		}
		.elm-photo {
			aspect-ratio: 1;
			border-radius: 12px;
		}
		.button-slider-media-thumbs-prev, .button-slider-media-thumbs-next {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -16px;
		}
		.button-slider-media-thumbs-next {
			left: auto;
			right: 0;
		}
	}
}
.breadcrumbs-box {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 1.25;
	color: var(--clr-base-second);
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -36px 0 0;
		li {
			padding: 0 36px 0 0;
			position: relative;
			flex-shrink: 0;
			max-width: 100%;
			&:after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/arrow-bread.svg) center no-repeat;
				background-size: 100% auto;
				top: 50%;right: 6px;
				margin-top: -12px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	a, .btn-menu {
		display: block;
		position: relative;
		height: 24px;
		line-height: 24px;
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.filter-box {
	margin-bottom: 12px;
	.frm-row {
		margin: 0 -8px;
	}
	.frm-field {
		max-width: 100%;
		width: auto;
		padding: 0 8px;
		margin-bottom: 8px;
		&.field-search {
			width: 100%;
			flex-shrink: 0;
			margin-bottom: 16px;
		}
	}
	.frm-main-search {
		.form-input {
			font-size: 16px;
		}
	}
}
.order-form-box {
	margin-bottom: var(--mbSection);
	position: relative;
	.box-inner-wrap {
		background: #fff url(../img/form.jpg) center no-repeat;
		background-size: cover;
		border-radius: var(--mainRadius);
		padding: 40px 30px 35px 30px;
	}
	.form-inner-wrap {
		margin: 0 auto;
		max-width: 863px;
	}
	.form-title-wrap {
		text-align: center;
		color: var(--clr-base-second);
		margin-bottom: 37px;
	}
	.section-title {
		margin-bottom: 27px;
		color: var(--clr-base);
	}
	.frm-row, .frm-row-submit {
		margin: 0 -8px;
	}
	.frm-row-submit {
		padding-top: 29px;
		.frm-field {
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.field-submit {
			text-align: center;
		}
	}
	.frm-field {
		padding: 0;
		width: 100%;
		padding: 0 8px;
		margin-bottom: 16px;
	}
	.btn {
		width: 100%;
		max-width: 265px;
		height: 42px;
		font-size: 16px;
	}
	.form-input {
		font-size: 12px;
	}
	.section-info {
		margin: 0 auto;
		max-width: (468/16em);
	}
}

.tiles-box, .tiles-slider-box {
	position: relative;
	margin-bottom: var(--mbSection);
	&:has(.type-row) {
		margin-bottom: 32px;
	}
	&:has(+.title-box) {
		margin-bottom: 52px;
	}
	.title-inner-wrap {
		margin-bottom: 32px;
		&:has(+.info-inner-wrap) {
			margin-bottom: 20px !important;
		}
		&:has(.title-letter) {
			margin: 32px 0 20px 0;
			&:first-child {
				margin-top: 0;
			}
		}
		.btn {
			margin-top: 12px;
		}
	}
	.section-title {
		width: 100%;
		flex-shrink: 0;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.title-letter {
		font-size: 22px;
		font-weight: 500;
	}
}
.tiles-box {
	.item-wrap {
		width: 100%;
		&.wrap-full {
			width: 100%;
		}
	}
	.items-wrap {
		&:has(.item-tile-brand) {
			.item-wrap {
				width: 50%;
			}
		}
	}
}
.tiles-slider-box {
	&.slider-arrows-title {
		&:has(.swiper-button-disabled+.swiper-button-disabled) {
			.title-inner-wrap {
				padding-right: 0;
			}
			.slider-actions-wrap {
				display: none;
			}
		}
	}
	&.slider-arrows-title {
		.slider-wrap {
			position: static;
		}
		.title-inner-wrap {
			margin-bottom: 32px;
			padding-right: 100px;
			min-height: 32px;
			padding-top: 2px;
		}
		.slider-actions-wrap {
			margin: 0;
			position: absolute;
			top: 0;right: 0;
		}
	}
	
	.info-inner-wrap {
		margin-bottom: 32px;
		color: var(--clr-base-second);
	}
	.slider-tilesMain {
		border-radius: var(--mainRadius);
		overflow: hidden;
		.slider-wrap {
			margin: 0;
		}
		.sl-wrap {
			padding: 0;
		}
	}
	.slider-pagination.slider-pagination-box {
		position: absolute;
		top: 15px;left: 50%;right: auto;
		transform: translateX(-50%);
		z-index: 2;
	}
	
	.item-tile-brand {
		&+.item-tile-brand {
			margin-top: 20px;
		}
	}
	.sl-wrap {
		width: 347px;
		&:has(.auto) {
			width: 200px;
		}
	}
}

.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
}
.more-box {
	text-align: center;
	margin-top: 20px;
	.btn {
		font-size: 16px;
		font-weight: 500;
		&:not(:hover) {
			.button-ico {
				filter: brightness(0) grayscale(1);;
			}
		}
	}
}
body.popup-open {
	overflow: hidden;
}
.popup-outer-box {
	display: none;
	padding: 50px 20px;
	animation: fadein ease 0.2s;
	align-items: center;
	justify-content: center;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	background: rgba(0, 0, 0, 0.35);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&.active {
		display: flex;
	}
}
.popup-outer-box {
	&.popup-side {
		padding: 0;
		.popup-box {
			position: fixed;
			width: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 0;
			box-shadow: none;
		}
	}
}
.popup-side {
	.order-outer-wrap {
		display: block;
		.content-wrap {
			width: 100%;
			padding: 0;
			max-width: 100%;
		}
		.side-wrap {
			width: 100%;
			margin: 0;
		}
	}
	.order-box {
		margin: 0;
		width: 100%;
		.form-separate {
			display: block;
		}
		.frm-total-wrap {
			position: fixed;
			bottom: 0;left: 0;right: 0;
			z-index: 100;
			margin-left: 0;
			margin-right: 0;
			padding-left: var(--paddingContainer);
			padding-right: var(--paddingContainer);
			padding-top: 24px;
		}
		.elm-feature-row {
			display: none;
			margin-bottom: 0;
			&.row-main, &.row-second {
				display: flex;
				margin-bottom: 0;
			}
			&.row-second {
				margin-top: 10px;
			}
		}
		.action-inner-wrap {
			margin-top: 16px;
			.btn {
				height: 36px;
				font-size: 13px;
			}
		}
	}
	.popup-box {
		flex-direction: column;
		padding: 0;
		.popup-title-wrap {
			width: 100%;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			padding: 24px var(--paddingContainer);
		}
		.popup-content-wrap {
			padding: 0 var(--paddingContainer) 24px var(--paddingContainer);
			width: 100%;
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
		.popup-title {
			font-size: 22px;
			line-height: 24px;
			margin: 0;
			flex: 1;
			padding-right: 0;
		}
	}
}
.popup-box {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	width: 380px;
	max-width: 100%;
	max-height: 100%;
	border-radius: var(--mainRadius);
	padding: 24px 20px;
	box-shadow: 0px 24px 48px 0px rgba(18, 18, 23, 0.03), 0px 10px 18px 0px rgba(18, 18, 23, 0.03), 0px 5px 8px 0px rgba(18, 18, 23, 0.04), 0px 2px 4px 0px rgba(18, 18, 23, 0.04);;
	background-color: #fff;
	z-index: 20;
	.popup-title-actions {
		display: flex;
		flex-shrink: 0;
		padding-left: 12px;
		.btn-action-ico {
			width: 24px;
			height: 24px;
			margin: 0 0 0 24px;
			flex-shrink: 0;
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.popup-title-wrap, .popup-footer-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.popup-content-wrap {
		width: 100%;
		padding: 20px 0 0 0;
	}
	.btn-popup-close {
		position: absolute;
		top: 24px;right: 20px;
		width: 24px;height: 24px;
		z-index: 10;
		filter: brightness(0) grayscale(1);;
		&.btn-action-ico.ico-close {
			width: 24px;height: 24px;
		}
	}
	.popup-title {
		padding-right: 30px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		color: #282A2F;
	}
}
.popup-buttons-box {
	display: block;
	line-height: 1;
	.button-wrap {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.btn {
		width: 100%;
	}
}
.popup-search-box {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	.frm-main-search {
		.form-input {
			border-color: var(--clr-border);
			height: 50px;
		}
	}
}
.popup-list-box {
	.menu {
		display: flex;
		margin: 0 -20px 0 -3px;
		flex-wrap: wrap;
		li {
			padding: 0 3px;
			width: 50%;
			flex-shrink: 0;
		}
	}
	.frm-select {
		font-size: 14px;
		font-weight: 500;
		label {
			padding-left: 24px;
			padding-top: 5px;
			padding-bottom: 5px;
			&:hover {
				background: none;
			}
			&:before {
				width: 20px;height: 20px;
				margin: -10px 0 0 -10px;
				left: 10px;
			}
			&:after {
				left: 10px;
			}
		}
	}
}
.scroll-inner-wrap {
	position: relative;
	overflow-y: auto;
	padding-right: 20px;
	&.type-light {
		&::-webkit-scrollbar {
			background-color: #fff;
		}	
	}
	&::-webkit-scrollbar {
		height: 4px;
		width: 4px;
		border-radius: 2px;
		background-color: var(--clr-bg-second);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--clr-att);
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--clr-att);
	}
	&::-webkit-scrollbar-button:vertical:start:decrement {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:vertical:end:increment {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:horizontal:start:decrement {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:horizontal:end:increment {
		background-color: transparent;
		width: 0;
		height: 0;
	}
}
@media (max-width: 1023px) {
	.article-box {
		.text-column-wrap {
			&.col-3 {
				columns: 2;
			}
		}
	}
	.info-toggle-box {
		&:last-child {
			margin-bottom: 60px;
		}
		.btn-popup.btn {
			min-height: 56px;
			font-size: 14px;
		}
		.item-tile-salon {
			.tile-title {
				font-size: 16px;
			}
		}
	}
	.tiles-box {
		&:has(.item-tile-order) {
			margin-bottom: 32px;
		}
	}
	.form-box {
		.field-title {
			font-size: 12px;
			margin-bottom: 2px;
		}
		.form-input {
			height: 50px;
			font-size: 14px;
		}
		.frm-field {
			margin-bottom: 20px;
		}
	}
	.order-box.type-bg {
		.form-inner-wrap {
			padding-top: 28px;
			padding-bottom: 28px;
		}
		.frm-section-title {
			margin-bottom: 20px;
		}
		.frm-total-wrap {
			.elm-feature-row {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.elm-feature-value {
				font-size: 16px;
			}
			.row-main {
				.elm-feature-value {
					font-size: 18px;
				}
			}
		}
		.elm-feature-row {
			margin-bottom: 16px;
			&.row-main {
				margin-bottom: 24px;
			}
		}
		.elm-feature-value {
			font-size: 14px;
		}
	}
	.tabs-box {
		&.type-mobile-scroll {
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;left: 0;right: 0;
				height: 1px;
				background: var(--clr-border);
			}
			.menu {
				flex-wrap: nowrap;
				width: auto;
				margin-left: calc(var(--paddingContainer) * -1 - 16px);
				margin-right: calc(var(--paddingContainer) * -1);
				padding-left: var(--paddingContainer);
				padding-right: var(--paddingContainer);
				overflow-x: auto;
				overflow-y: hidden;
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
		}
	}
	.order-fixed {
		.page-full {
			.order-box {
				.form-separate {
					display: block;
				}
				.frm-total-wrap {
					position: fixed;
					bottom: 0;left: 0;right: 0;
					z-index: 100;
					margin-left: 0;
					margin-right: 0;
					padding-left: var(--paddingContainer);
					padding-right: var(--paddingContainer);
					padding-top: 24px;
				}
				.elm-feature-row {
					display: none;
					margin-bottom: 0;
					&.row-main, &.row-second {
						display: flex;
						margin-bottom: 0;
					}
					&.row-second {
						margin-top: 10px;
					}
				}
				.action-inner-wrap {
					margin-top: 16px;
					.btn {
						height: 36px;
						font-size: 13px;
					}
				}
			}
		}
	}
	.filter-showed {
		.filter-catalog-box {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			background: #fff;
			.frm-field-select {
				.filter-title-wrap {
					display: flex;
				}
				.filter-action-wrap {
					display: block;
				}
			}
			.slider-inner-wrap {
				padding: 0;
				margin: 0;
				.slider-inner-wrap {
					padding: 0;
					margin: 0;
					overflow: visible;
				}
				.slider-wrap {
					margin: 0;
				}
				.slider {
					display: flex;
					flex-wrap: wrap;
					margin: 0;
					width: 100%;
					height: auto !important;
					transform: none !important;
				}
				.sl-wrap {
					flex-shrink: 0;
					padding: 0;
					margin: 0;
					width: 100%;
				}
				.elm-hidden-desktop {
					display: none;
				}
				.btn {
					&.button-select {
						font-size: 14px;
						text-align: left;
						justify-content: flex-start;
						border-radius: 0;
						border: none;
						background: none;
						color: var(--clr-base);
						min-height: 40px;
						height: auto;
						padding: 10px 40px 10px 10px;
						&:before {
							rotate: -90deg;
							background-size: 32px auto;
						}
					}
				}
			}
			.filter-content-wrap {
				width: 100%;
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 12px 0;
				overflow-y: auto;
				overflow-x: hidden;
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
			.filter-title-wrap {
				display: flex;
			}
			.filter-action-wrap {
				display: block;
			}
			.filter-main-wrap {
				width: 100%;
				order: 3;
			}
			.filter-section-wrap {
				order: 2;
				width: 100%;
				display: block;
				padding: 0 10px;
			}
			.section-side-panel {
				order: 1;
			}
			.frm-field-select {
				.select-form-wrap {
					padding: 0 10px;
					.field-title {
						margin-bottom: 20px;
					}
				}
				.button-select.active {
					&~.select-content-block {
						display: flex !important;
					}
				}
				.select-content-block {
					flex-direction: column;
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 120;
					border-radius: 0;
					border: none;
					box-shadow: none;
					width: 100%;
					margin: 0;
					padding: 0;
					.menu {
						overflow: visible;
						max-height: 100%;
					}
				}
			}
		}
	}
	.filter-catalog-box {
		.filter-section-wrap {
			margin-bottom: 10px;
		}
		.section-side-panel {
			margin-bottom: 0;
			.frm-field {
				width: 100%;
			}
		}
		.filter-action-wrap {
			width: 100%;
			flex-shrink: 0;
			padding: 20px 10px;
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;left: 10px;right: 10px;
				height: 1px;
				background: var(--clr-border);
			}
			.btn {
				width: 100%;
			}
		}
		.filter-title-wrap {
			align-items: center;
			width: 100%;
			flex-shrink: 0;
			padding: 10px 0;
		}
		.filter-title-action {
			flex-shrink: 0;
			width: 44px;
			height: 44px;
			.btn-action-ico {
				width: 100%;
				height: 44px;
				z-index: inherit;
			}
		}
		.filter-title-reset {
			flex-shrink: 0;
			padding-right: 10px;
			.btn {
				font-size: 14px;
				color: var(--clr-base-light);
				&:hover {
					color: var(--clr-base);
				}
			}
		}
		.filter-title {
			flex: 1;
			padding: 0 15px;
			font-size: 16px;
			font-weight: 500;
			display: block;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 1.1;
			text-align: center;
			max-width: calc(100% - 88px);
		}
		.filter-section-wrap {
			display: none;
		}
		.slider-inner-wrap {
			.sl-wrap {
				&:last-child {
					.frm-field-select {
						.select-content-block {
							right: 0;
							left: auto;
						}
					}
				}
			}
		}
		.section-title {
			margin-bottom: 10px;
		}
		.list {
			li {
				margin-bottom: 10px;
			}
		}
	}
	.tiles-slider-box {
		&:has(.item-tile-material) {
			.slider-wrap {
				margin: 0 -12px;
			}
			.sl-wrap {
				padding: 0 12px;
			}
		}
		.slider-wrap {
			overflow: visible;
		}
		.sl-wrap {
			width: 310px;
			&:has(.item-tile-product) {
				width: 200px;
			}
			&:has(.item-tile-info-main) {
				width: 327px;
			}
			&:has(.item-tile-brand) {
				width: 180px;
			}
			&:has(.item-tile-material) {
				width: 204px;
			}
		}
	}
	.title-box {
		&.title-order {
			font-size: 18px;
			margin-bottom: 40px;
			.subtitle-medium {
				margin-bottom: 12px;
			}
			.section-title {
				margin-bottom: 24px;
			}
		}
	}
}
@media (max-width: 767px) {
	.article-box {
		.box-inner-wrap {
			display: block;
		}
		.info-inner-wrap, .photo-inner-wrap {
			width: 100%;
		}
		.photo-inner-wrap {
			margin-top: 24px;
		}
		.text-column-wrap {
			columns: 1;
			&.col-one {
				width: 100%;
				padding-right: 0;
			}
			&.col-3 {
				columns: 1;
			}
		}
		.section-title, h1, h2, h3, h4, h5 {
			&:has(+.text-column-wrap) {
				max-width: 100%;
			}
		}
		.items-wrap {
			&.col-2 {
				.elm-photo {
					height: 56rem;
				}
				.item-wrap {
					width: 100%;
				}
			}
		}
		.elm-photo {
			height: 56rem;
		}
	}
	.tiles-gallery-box {
		.items-wrap {
			margin-bottom: calc(-1 * var(--mbSection));
		}
		.item-wrap {
			margin-bottom: var(--mbSection);
		}
	}
	.text-more-wrap {
		display: block;
		position: relative;
		.text-more-content {
			position: relative;
			overflow: hidden;
			transition: all ease 0.2s;
			max-height: 23.5em
		}
		.text-link {
			margin-top: 10px;
		}
	}
}
@media (max-width: 479px) {
	.popup-list-box {
		.menu {
			li {
				width: 100%;
			}
		}
	}
}
@media (min-width: 480px) {
	
}
@media (min-width: 640px) {
	.error-box {
		.error-title {
			font-size: 22rem;
		}
		.btn {
			width: auto;
			min-width: 265px;
		}
	}
	.tiles-box {
		.item-wrap {
			width: 50%;
		}
		.items-wrap {
			&:has(.item-tile-brand) {
				.item-wrap {
					width: 33.33%;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.tiles-gallery-box {
		.col-2 {
			.item-wrap {
				width: 50%;
			}
		}
		.col-3 {
			.item-wrap {
				width: 33.33%;
			}
			.elm-photo {
				height: 48rem;
			}
		}
		.col-4 {
			.item-wrap {
				width: 50%;
			}
			.elm-photo {
				height: 28rem;
			}
		}
	}
	.info-features-box {
		.wrap-half {
			display: flex;
			.section-content {
				width: 50%;
				flex-shrink: 0;
				padding-right: 15px;
				margin-bottom: 0px;
				max-width: 360px;
				&:last-child {
					padding-right: 0;
					padding-left: 15px;
				}
			}
		}
		.section-title {
			width: 100%;
			flex-shrink: 0;
		}
		.action-wrap {
			width: auto;
		}
		.actions-inner-wrap {
			margin-top: 0;
		}
	}
	.brand-about-box {
		margin-bottom: 20px;
		.box-inner-wrap {
			padding: 3.6rem 3.2rem;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		.photo-inner-wrap {
			width: 32rem;
			flex-shrink: 0;
			margin: 0;
		}
		.info-inner-wrap {
			flex: 1;
			padding: 0 0 0 5rem;
			max-width: 98.6rem;
		}
		.title-inner-wrap {
			margin-bottom: 24px;
		}
		
	}
	.info-desc-box {
		.text-inner-wrap {
			columns: 2;
			column-gap: 40px;
			p, li, ul, ol {
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}
	}
	.info-card-box {
		flex-direction: row;
		.photos-inner-wrap {
			width: 48.5%;
			padding: 0 2rem 0 0;
		}
		.info-inner-wrap {
			flex: 1;
			padding: 0 0 0 2rem;
		}
	}
	.order-form-box {
		.frm-field {
			width: 33.33%;
		}
	}
	.tiles-box {
		.items-wrap {
			&:has(.item-tile-brand) {
				.item-wrap {
					width: 25%;
				}
			}
		}
	}
	.text-more-wrap {
		.text-link {
			display: none;
		}
	}
}
@media (min-width: 1024px) {
	.tiles-gallery-box {
		.col-4 {
			.item-wrap {
				width: 25%;
			}
		}
	}
	.info-features-box {
		.box-outer-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin: 0 -15px;
		}
		.box-inner-wrap {
			padding: 0 15px;
			width: 25%;
			flex-shrink: 0;
			flex-wrap: wrap;
			display: block;
			&:not(.active) {
				display: block;
			}
		}
		.wrap-half {
			width: 50%;
			display: flex;
			.section-content {
				
			}
		}
		.section-content {
			margin-bottom: 0;
		}
		.action-wrap {
			.btn {
				height: 64px;
				font-size: 16px;
				.button-ico {
					&.ico-large {
						width: 32px;height: 32px;
					}
				}
			}
		}
		
	}
	.info-order-box {
		.box-inner-wrap {
			max-width: 892px;
			padding: 36px 32px 28px 32px;
			margin: 0 auto;
		}
		.section-ico {
			margin-bottom: 32px;
		}
		.section-title {
			margin-bottom: 20px;
		}
		.section-map {
			margin-bottom: 24px;
		}
		.actions-inner-wrap {
			margin-top: 32px;
		}
		.action-wrap {
			width: auto;
			.btn {
				min-width: 265px;
			}
		}
	}
	.search-box {
		.form-inner-wrap {
			margin-bottom: 9rem;
			display: flex;
			align-items: center;
		}
		.form-inner-button {
			display: block;
			flex-shrink: 0;
			padding-left: 12px;
		}
		.frm-main-search {
			.form-input {
				height: 50px;

			}
		}
		.info-inner-wrap {
			.elm-ico {
				width: 8rem;height: 8rem;
			}
		}
	}
	.order-box {
		.action-inner-wrap {
			margin-top: 32px;
		}
		.elm-feature-row.row-main {
			font-size: 22px;
			margin-bottom: 24px;
		}
		.elm-feature-row.row-second {
			.elm-feature-value {
				font-size: 20px;
			}
		}
	}
	.filter-catalog-box {
		margin-bottom: 0;
		.frm-field-select {
			.filter-content-wrap {
				display: block;
			}
		}
		.filter-content-wrap {
			display: grid;;
			width: 100%;
			grid-template-columns: calc(100% - 42rem) 42rem;
			grid-template-rows: auto;
			gap: 0
		}
		.filter-main-wrap {
			margin-bottom: 22px;
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 2;
			padding-right: 4rem;
			.slider-inner-wrap {
				padding: 0;
				margin: 0;
				overflow: visible;
			}
			.slider-wrap {
				margin: 0 -5px;
			}
			.slider {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				width: 100%;
				height: auto !important;
				transform: none !important;
			}
			.sl-wrap {
				width: auto;
				flex-shrink: 0;
				padding: 0 5px;
				margin-bottom: 10px;
			}
		}
		.filter-section-wrap {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
			padding-right: 4rem;
		}
		.section-side-panel {
			padding: 31px 24px 4px 24px;
			border-radius: 12px;
			background: var(--clr-bg-second);
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			align-self: start;
			.frm-row {
				margin: 0 -10px;
			}
			.frm-field {
				padding: 0 10px;
				width: 100%;
				margin-bottom: 20px;
			}
			.field-half {
				width: 50%;
			}
			.field-title {
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				margin: 0 0 8px 0;
			}
			.row-title {
				width: 100%;
				flex-shrink: 0;
				font-size: 16px;
				line-height: 1.2;
				font-weight: 500;
				letter-spacing: normal;
				margin: 0 0 12px 0;
				padding: 0 10px;
			}
		}
	}
	.sort-catalog-box {
		display: block;
		margin-bottom: 24px;
		font-size: 16px;
		.menu {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			li {
				flex-shrink: 0;
				max-width: 100%;
			}
		}
		.btn-menu {
			display: block;
			position: relative;
			color: var(--clr-base-light);
			height: 28px;
			line-height: 20px;
			padding: 4px 10px;
			&:hover{ 
				color: var(--clr-base);
			}
			&.active {
				color: var(--clr-att);
			}
		}
	}
	.title-box {
		margin-bottom: 24px;
		.title-action {
			padding-top: 8px;
		}
	}
	.tabs-box {
		margin-bottom: 32px;
	}
	.tiles-box, .tiles-slider-box {
		.title-inner-wrap {
			&:has(.title-letter) {
				margin-bottom: 24px;
			}
		}
		.item-wrap {
			&.wrap-full-d {	/* wrap 100% width desktop */
				width: 100%;
			}
		}
	}
	.tiles-box {
		.item-wrap {
			width: 33.33%;
		}
	}
	.info-card-box {
		.action-wrap {
			.elm-ico {
				width: 42px;height: 42px;
				
			}
		}
		.title-inner-wrap {
			margin-bottom: 24px;
		}
		.info-inner-wrap {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}
		.price-inner-wrap {
			margin-bottom: 24px;
		}
		.features-inner-wrap {
			margin-bottom: 24px;
		}
		.info-content-wrap {
			flex: 1;
		}
		.info-bottom-wrap {
			flex-shrink: 0;
		}
		.feature-wrap {
			margin-bottom: 16px;
		}
		.title-wrap {
			min-height: 42px;
		}
		.price-value {
			font-size: 22px;
			&.price-old {
				font-size: 16px;
			}
		}
		.section-inner-title {
			font-size: 16px;
		}
		.counter-inner-wrap {
			max-width: 405px;
		}
		.elm-sticker {
			margin-left: 12px;
			margin-right: 0;
			height: 28px;
			font-size: 13px;
			padding: 0 20px;
			border-radius: 14px;
			line-height: 28px;
			&.type-border {
				font-size: 12px;
			}
		}
		@supports (display: contents) {
			.section-inner-content, .section-inner-content .list {
				display: contents;
			}
			.section-inner-wrap {
				margin-left: 0;
				margin-right: -8px;
				&:has(.elm-color) {
					.section-inner-title {
						height: 28px;
						line-height: 28px;
					}
				}
			}
			.section-inner-title {
				display: inline-block;
				vertical-align: middle;
				height: 25px;
				line-height: 25px;
				margin: 0 0 8px 0;
				padding: 0 8px 0 0;
			}
			.section-inner-content {
				li {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	.photos-slider-box {
		.slider-media-main {
			.elm-photo {
				aspect-ratio: inherit;
				height: 490px;
			}
		}
		.slider-media-thumbs {
			.elm-photo {
				aspect-ratio: 148/117;
			}
		}
	}
	.photos-slider-box .slider-media-thumbs .button-slider-media-thumbs-next, .photos-slider-box .slider-media-thumbs .button-slider-media-thumbs-prev {
		margin-top: -22px;
	}
	.breadcrumbs-box {
		margin-bottom: 24px;
	}
	.filter-box {
		margin-bottom: 20px;
		.frm-field {
			width: 100%;
			order: 3;
			&:nth-child(2) {
				order: 1;
			}
			&.field-search {
				margin-bottom: 20px;
				order: 2;
			}
		}
		.frm-field-select {
			.button-select {
				display: none;
			}
			.select-content-block {
				width: 100%;
				display: block;
				position: relative;
				top: auto;
				bottom: auto;
				left: auto;
				right: auto;
				margin: 0;
				border-radius: 0;
				background: none;
				box-shadow: none;
				z-index: inherit;
			}
			.menu {
				max-height: inherit;
				overflow: visible;
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				margin: 0 -8px;
				li {
					padding: 2px 8px 0 8px;
					margin-bottom: 8px;
					flex-shrink: 0;
					&:has(.select-small) {
						padding-top: 0;
						padding-left: 2px;
						padding-right: 3px;
					}
				}
			}
		}
		.frm-select-item.select-second label {
			padding-left: 11px;
			padding-right: 11px;
		}
		.frm-select-item {
			&.select-small {
				label {
					font-size: 2rem;
					font-weight: 500;
				}
			}
			label {
				background: var(--clr-bg-second);
				border: 1px solid var(--clr-bg-second);
				&:hover {
					border-color: var(--clr-att);
				}
			}
			input {
				&:checked {
					&~label {
						background: var(--clr-att-second);
						border-color: var(--clr-att-second);
						font-weight: 400;
					}
				}
			}
		}

	}
	.order-form-box {
		.form-title-wrap {
			padding: 10px 0 15px 0;;
		}
		.box-inner-wrap {
			padding: 8.7rem;
		}
		.form-inner-wrap {
			font-size: 14px;
		}
		.frm-row-submit {
			padding-top: 14px;
		}
	}
	.tiles-box, .tiles-slider-box {
		.title-inner-wrap {
			&:has(.btn) {
				display: flex;
				align-items: center;
				.section-title {
					flex: 1;
					padding-right: 24px;
				}
				.btn {
					margin: 0;
					flex-shrink: 0;
					min-width: 265px;
				}
			}
		}
	}
	.tiles-slider-box {
		[data-col="auto"] {
			.slider-wrap {
				overflow: visible;
			}
		}
		&:has(.item-tile-action) {
			.sl-wrap {
				width: 794px;
			}
		}
		&:has(.item-tile-brand) {
			.sl-wrap {
				padding: 0 1.8rem;
			}
			.slider-wrap {
				margin: 0 -1.8rem;
			}
		}
		&:has(.item-tile-material) {
			.sl-wrap {
				padding: 0 1.4rem;
			}
			.slider-wrap {
				margin: 0 -1.4rem;
			}
		}
		&.slider-desktop-tiles {
			[data-col="2"] {
				.sl-wrap {
					width: 50% !important;
				}
			}
			[data-col="3"] {
				.sl-wrap {
					width: 33.33% !important;
				}
			}
			[data-col="4"] {
				.sl-wrap {
					width: 25% !important;
				}
			}
			[data-col="5"] {
				.sl-wrap {
					width: 20% !important;
				}
			}
			[data-col="6"] {
				.sl-wrap {
					width: 20% !important;
				}
			}
			[data-col="7"] {
				.sl-wrap {
					width: 20% !important;
				}
			}
			.slider {
				transform: none !important;
				display: flex;
				flex-wrap: wrap;
				max-width: 100%;
			}
			.sl-wrap {
				width: 100% !important;
				transform: none !important;
				margin-bottom: 20px;
				flex-shrink: 0;
			}
			.slider-actions-wrap {
				display: none;
			}
			&.slider-arrows-title {
				.title-inner-wrap {
					min-height: 0;
					padding-right: 0;
				}
			}
		}
		&.slider-arrows-title {
			.title-inner-wrap {
				padding-right: 120px;
				margin-bottom: 32px;
				min-height: 44px;
				padding-top: 0;
			}
		}
		
		.slider-pagination.slider-pagination-box {
			top: 50%;right: 24px;left: auto;bottom: auto;
			transform: translateX(50%);
			rotate: 90deg;
			margin-top: -10px;
			transform-origin: 100% 0;
		}
		.item-tile-brand {
			&+.item-tile-brand {
				margin-top: 32px;
			}
		}
	}
	.bg-box {
		border-radius: var(--mainRadius);
		background: var(--clr-bg-second);
		padding: 3.6rem 3.2rem;

	}
	.more-box {
		margin-top: 32px;
		.btn {
			font-size: 20px;
			height: 33px;
		}
	}
	.popup-outer-box {
		&.popup-city {
			background: none;
			.popup-box {
				left: var(--paddingContainer);
				top: 58px;
				position: absolute;
				transform: none;
			}
		}
	}
	.lk-outer-wrap,
	.order-outer-wrap {
		display: flex;
		flex-direction: row;
		.content-wrap {
			flex: 1;
			padding: 0 4rem 0 0;
			max-width: calc(100% - 35rem);
		}
		.side-wrap {
			width: 35rem;
			flex-shrink: 0;
		}
	}
	.lk-outer-wrap {
		.content-wrap {
			padding-right: 4rem;
			max-width: calc(100% - 40rem);
		}
		.side-wrap {
			width: 40rem;
		}
	}
	.popup-outer-box {
		&.popup-side {
			.popup-box {
				left: auto;
				width: 974px;
				.popup-title {
					font-size: 38px;
					line-height: 1.1;
				}
			}
		}
	}
	.popup-side {
		.popup-box {
			.popup-title-wrap {
				padding: 35px 30px 24px 20px;
			}
			.popup-content-wrap {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.order-box {
			.frm-total-wrap {
				left: auto;
				width: 974px;
				margin: 0;
				padding: 32px 20px 32px 20px;
				&:before {
					display: none;
				}
				.btn {
					height: 42px;
					font-size: 16px;
					border-radius: 16px;
				}
				.action-inner-wrap {
					margin-top: 28px;
				}
			}
		}
	}
	.popup-box .btn-popup-close.btn-action-ico.ico-close {
		margin-left: 32px;
	}
}

@media (min-width: 1200px) {
	.info-card-box {
		.buttons-inner-wrap {
			margin-left: 0;
			margin-right: -8px;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			position: relative;
			&:has(.elm-tooltip) {
				padding-right: 32px;
			}
			.elm-tooltip {
				position: absolute;
				top: 50%;right: 8px;
				margin: -12px 0 0 0;
			}
		}
		.button-wrap {
			width: 50%;
			padding: 0 8px 0 0;
			margin: 0;
			.btn {
				height: 48px;
				border-radius: 16px;
				font-size: 16px;
			}
			&:has(.elm-tooltip) {
				.btn {
					max-width: 100%;
				}
			}
		}
	}
	.brand-about-box {
		.elm-country {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
	.tiles-slider-box {
		&.slider-desktop-tiles {
			[data-col="6"] {
				.sl-wrap {
					width: 16.66% !important;
				}
			}
			[data-col="7"] {
				.sl-wrap {
					width: 16.66% !important;
				}
			}
		}
	}
	.tiles-box {
		.items-wrap {
			&:has(.item-tile-brand) {
				.item-wrap {
					width: 20%;
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.tiles-slider-box {
		&.slider-desktop-tiles {
			[data-col="7"] {
				.sl-wrap {
					width: 14.28% !important;
				}
			}
		}
	}
	.tiles-box {
		.items-wrap {
			&:has(.item-tile-brand) {
				.item-wrap {
					width: 16.66%;
				}
			}
		}
	}
	.order-outer-wrap {
		.content-wrap {
			max-width: calc(100% - 53.7rem);
		}
		.side-wrap {
			width: 53.7rem;
		}
	}
}
@media (min-width: 1440px) {
	.popup-outer-box {
		&.popup-city {
			.popup-box {
				left: 50%;
				margin-left: -700px;
			}
		}
	}
}