/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.field-message {
	display: block;
	font-size: 14px;
	margin: 2px 0;
	color: var(--clr-base);
	line-height: 1.2;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.frm-field-input-action {
	display: block;
	position: relative;
	.button-field-clear {
		position: absolute;
		top: 50%;right: 0px;
		width: 24px;height: 24px;
		margin-top: -10px;
		opacity: 0;
		pointer-events: none;
		transition: all ease 0.2s;
		z-index: 3;
		cursor: pointer;
	}
	&.inp-valid {
		.button-field-clear {
			opacity: 1;
			pointer-events: auto;
		}
		.form-input {
			padding-right: 30px;
		}
	}
}
.frm-field-select {
	display: block;
	position: relative;
	flex-shrink: 0;
	.select-form-wrap {
		padding: 16px;
	}
	.select-content-block {
		display: none;
		width: 240px;
		position: absolute;
		top: 100%;left: 0;
		z-index: 100;
		margin-top: 10px;
		&:has(.btn-menu, .frm-select) {
			padding-left: 0;
			padding-right: 0;
		}
		&:has(.select-form-wrap) {
			padding: 0;
			width: 290px;
		}
	}
	.button-select {
		.button-title {
			display: block;
			position: relative;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.btn-menu {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: var(--clr-base);
		min-height: 32px;
		padding: 4px 12px;
		&:hover, &.active {
			color: rgba(38, 39, 58, 0.60);
			background: var(--clr-bg-second);
		}
	}
}
.frm-field-select-panel {
	display: flex;
	width: 100%;
	background: var(--clr-bg);
	border: 1px solid var(--clr-border);
	padding: 1px;
	border-radius: 14px;
	position: relative;
	overflow: hidden;
	.frm-select-button {
		width: auto;
		flex: 1;
	}
}
.frm-field-counter {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	background: var(--clr-bg);
	border: 1px solid var(--clr-border);
	height: 36px;
	border-radius: 16px;
	padding: 0 40px;
	.button-plus, .button-minus {
		width: 36px;height: 36px;
		position: absolute;
		top: 50%;left: 26px;
		margin: -18px 0 0 -18px;
		z-index: 2;
	}
	.button-plus {
		left: auto;
		right: 26px;
		margin: -18px -18px 0 0;
	}
	.form-input {
		height: 34px;
		width: 100%;
		padding: 0;
		text-align: center;
		border: none;
		border-radius: 0;
		background: transparent;
		font-size: var(--fsize);
		font-weight: 500;
		color: var(--clr-base);
	}
}
.frm-results-wrap {
	display: none;
	animation: fadein ease 0.2s;
	position: absolute;
	top: 100%;left: 0;right: 0;
	z-index: 20;
	margin-top: 12px;
	border-radius: var(--mainRadius);
	padding: 12px 4px 12px 0;
	.menu {
		display: block;
		position: relative;
		padding: 8px 8px 8px 12px;
		overflow: auto;
		max-height: 190px;
		&::-webkit-scrollbar {
			height: 4px;
			width: 4px;
			background-color: transparent;
			border-radius: 4px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #D7EAFB;
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: #D7EAFB;
		}
		&::-webkit-scrollbar-button:vertical:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:vertical:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
	}
	.btn-result {
		display: block;
		position: relative;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: var(--clr-base-light);
		padding: 6px 0 6px 20px;
		transition: all ease 0.2s;
		&:hover, &.active {
			color: var(--clr-base-light);
			&:after {
				opacity: 1;;
			}
		}
		&:before, &:after {
			content: "";
			display: block ;
			width: 14px;height: 14px;
			border-radius: 50%;
			border: 2px solid var(--clr-border);
			position: absolute;
			top: 15px;left: 7px;
			margin: -7px 0 0 -7px;
		}
		&:after {
			border: 5px solid var(--clr-att);
			background: var(--clr-border);
			opacity: 0;
			transition: all ease 0.2s;
		}
		.button-title {
			display: block;
			font-size: 14px;
			line-height: 1.25;
			font-weight: 500;
			color: var(--clr-base);
			margin-bottom: 2px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.frm-main-search {
	display: block;
	position: relative;
	line-height: 1;
	width: 100%;
	.form-input {
		height: 36px;
		border-radius: var(--mainRadius);
		padding: 0 50px 0 15px;
		font-size: var(--fsizeButton);
		font-weight: 400;
	}
	.button-form {
		width: 44px;
		height: 36px;
		position: absolute;
		top: 50%;right: 0;
		margin-top: -18px;
		z-index: 2;
	}
	.button-field-clear {
		position: absolute;
		top: 50%;right: 10px;
		margin-top: -16px;
		width: 32px;height: 32px;
		z-index: 2;
		cursor: pointer;
	}
	.btn-action-ico {
		&.ico-del {
			&:before {
				background-size: 36px auto;
				filter: none;
			}
		}
	}
}
.frm-field-range {
	display: flex;
	margin: 0 -4px;
	.field-range {
		width: 50%;
		flex-shrink: 0;
		padding: 0 4px;
	}
}
.field-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	margin-bottom: 8px;
}
.field-required {
	&:after {
		content: "*";
		display: inline;
		color: var(--clr-alert);
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-content {
	&:not(.active) {
		display: none;
	}
}
.frm-select, .frm-select-button, .frm-select-item, .frm-select-feature, .frm-select-color {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				font-weight: 500;
				color: var(--clr-base);
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}
.frm-select-color {
	flex-shrink: 0;
	line-height: 1;
	width: 28px;height: 28px;
	label {
		height: 28px;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #fff;
		transition: all ease 0.2s;
		.elm-color {
			margin: 0;
			width: 24px;height: 24px;
		}
	}
	input {
		&:checked {
			&~label {
				border-color: var(--clr-base);
			}
		}
	}
}
.frm-select-feature {
	font-size: 14px;
	max-width: 100%;
	display: inline-block;
	line-height: 1;;
	flex-shrink: 0;
	input {
		&:checked {
			&~label {
				background: var(--clr-att);
				border-color: var(--clr-att);
				color: #fff;
				font-weight: 400;
			}
		}
	}
	label {
		height: 25px;
		line-height: 23px;
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border: 1px solid var(--clr-border);
		border-radius: 13px;
		padding: 0 7px;
		&:hover {
			background: rgba(40, 115, 185, 0.10);
			border-color: rgba(40, 115, 185, 0.10);
			color: rgba(38, 39, 58, 0.60);
		}
	}
}
.frm-select {
	font-size: 14px;
	line-height: 20px;
	input {
		&[type="radio"] {
			&:checked {
				&~label {
					&:before {
						border-color: var(--clr-att);
						opacity: 1;
					}
				}
			}
			&~label {
				&:before, &:after {
					background: none;
					border-radius: 50%;
					width: 14px;height: 14px;
					margin: -7px 0 0 -7px;
					border: 2px solid var(--clr-border);
				}
				&:after {
					width: 8px;height: 8px;
					margin: -4px 0 0 -4px;
					background: var(--clr-att);
					border: none;
				}
			}
		}
		&:checked {
			&~label {
				font-weight: 400;
				&:after {
					opacity: 1;
				}
				&:before {
					opacity: 0;
				}
			}
		}
	}
	label {
		display: flex;
		align-items: center;
		position: relative;
		padding: 7px 12px 7px 44px;
		transition: all ease 0.2s;
		&:before, &:after {
			width: 24px;height: 24px;
			position: absolute;
			top: 50%;left: 24px;
			margin: -12px 0 0 -12px;
			transition: opacity ease 0.2s;	
			background: url(../img/icons/chk.svg);
		}
		&:after {
			background-image: url(../img/icons/checked.svg);
			opacity: 0;
		}
		&:hover {
			background-color: var(--clr-bg-second);
			&:before {
				background-image: url(../img/icons/chk-hover.svg);
			}
		}
	}
	.lbl-title {
		display: block;
		flex: 1;
	}
	.elm-color {
		flex-shrink: 0;
		margin-left: 8px;
		width: 16px;height: 16px;
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.frm-select-item {
	&.select-second {
		label {
			border-radius: 12px;
		}
	}
	label {
		display: flex;
		align-items: center;
		padding: 8px 12px;
		border-radius: 37px;
		transition: all ease 0.2s;
	}
	.button-ico {
		width: 28px;
		height: 28px;
		flex-shrink: 0;
		border-radius: 50%;
	}
	.button-title {
		flex: 1;
		padding-left: 8px;
		&:first-child {
			padding-left: 0;
		}
	}
}
.frm-select-button {
	font-size: 12px;
	line-height: 1;
	color: var(--clr-base-second);
	text-align: center;
	display: block;
	flex-shrink: 0;
	input {
		&:checked {
			&~label {
				background-color: var(--clr-att-select);
			}
		}
	}
	label {
		display: flex;
		align-items: center;
		height: 28px;
		padding: 0 24px;
		border-radius: 14px;
	}
	.lbl-title {
		display: block;
		width: 100%;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
body {
	.tippy-box {
		background: var(--clr-bg-blue);
		border-radius: 12px;
		.tippy-content {
			font-size: 14px;
			line-height: 1.25;
			padding: 16px 20px;
			color: var(--clr-base);
		}
		.tippy-arrow {
			color: var(--clr-bg-blue);;
		}
	}
}
@media (min-width: 1024px) {
	.frm-main-search {
		.form-input {
			border-color: var(--clr-border);
			height: 50px;
		}
	}
	.frm-field-counter {
		height: 42px;
		.form-input {
			height: 40px;
		}
	}
	.frm-select-button {
		font-size: 14px;
		label {
			height: 32px;
		}
	}
}

