
<!-- footer -->
<footer class="footer">
	<!--footer-top-panel-->
	<div class="footer-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="contacts-inner-wrap">
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.svg" alt="">
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:88125787777" class="link-phone button-phone">8(812)578-77-77</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-top-panel-->
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="search-inner-wrap">
				<div class="footer-title">Поиск по плитке</div>
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="button-form btn btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Каталог</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамическая плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Настенная плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Напольная плитка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Уличный керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Коллекции плитки</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Акции и скидки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Производители</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Правила возврата и замены</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">О компании</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка и оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вопросы и ответы</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пользовательское соглашение</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика конфиденциальности</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика обработки персональных данных</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">*Instagram (запрещён в России, принадлежит Meta).</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box popup-city" id="popup-city">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Ваш город — Санкт-Петербург?</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-buttons-box">
				<div class="button-wrap">
					<a href="" class="btn js-popup-close">
						<div class="button-title">Да, я здесь</div>
					</a>
				</div>
				<div class="button-wrap">
					<a href="" class="btn button-second js-popup-open" data-popup="popup-city-select">
						<div class="button-title">Изменить город</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-city-select">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Выберите город</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-search-box">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="button-form btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="popup-list-box">
				<ul class="menu">
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city01">
							<label for="city01">Москва</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city02">
							<label for="city02">Санкт-Петербург</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city03">
							<label for="city03">Белгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city04">
							<label for="city04">Краснодар</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city05">
							<label for="city05">Самара</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city06">
							<label for="city06">Иркутск</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city07">
							<label for="city07">Нижний Новгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city08">
							<label for="city08">Москва</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city09">
							<label for="city09">Санкт-Петербург</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city10">
							<label for="city10">Белгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city11">
							<label for="city11">Краснодар</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city12">
							<label for="city12">Самара</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city13">
							<label for="city13">Иркутск</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city14">
							<label for="city14">Нижний Новгород</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

