
<!-- footer -->
<footer class="footer">
	<!--footer-top-panel-->
	<div class="footer-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="contacts-inner-wrap">
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.svg" alt="">
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:88125787777" class="link-phone button-phone">8(812)578-77-77</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-top-panel-->
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="search-inner-wrap">
				<div class="footer-title">Поиск по плитке</div>
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="button-form btn btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Каталог</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамическая плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Настенная плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Напольная плитка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Уличный керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Коллекции плитки</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Акции и скидки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Производители</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Правила возврата и замены</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">О компании</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка и оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вопросы и ответы</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пользовательское соглашение</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика конфиденциальности</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика обработки персональных данных</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">*Instagram (запрещён в России, принадлежит Meta).</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->

