
<!-- footer -->
<footer class="footer">
	<!--footer-top-panel-->
	<div class="footer-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="contacts-inner-wrap">
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.svg" alt="">
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:88125787777" class="link-phone button-phone">8(812)578-77-77</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-top-panel-->
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="search-inner-wrap">
				<div class="footer-title">Поиск по плитке</div>
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="button-form btn btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Каталог</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Керамическая плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Настенная плитка </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Напольная плитка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Уличный керамогранит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Коллекции плитки</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Акции и скидки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Производители</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Правила возврата и замены</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">О компании</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка и оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вопросы и ответы</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пользовательское соглашение</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика конфиденциальности</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика обработки персональных данных</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">*Instagram (запрещён в России, принадлежит Meta).</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box popup-city" id="popup-city">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Ваш город — Санкт-Петербург?</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-buttons-box">
				<div class="button-wrap">
					<a href="" class="btn js-popup-close">
						<div class="button-title">Да, я здесь</div>
					</a>
				</div>
				<div class="button-wrap">
					<a href="" class="btn button-second js-popup-open" data-popup="popup-city-select">
						<div class="button-title">Изменить город</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-city-select">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Выберите город</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-search-box">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="button-form btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="popup-list-box">
				<ul class="menu">
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city01">
							<label for="city01">Москва</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city02">
							<label for="city02">Санкт-Петербург</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city03">
							<label for="city03">Белгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city04">
							<label for="city04">Краснодар</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city05">
							<label for="city05">Самара</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city06">
							<label for="city06">Иркутск</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city07">
							<label for="city07">Нижний Новгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city08">
							<label for="city08">Москва</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city09">
							<label for="city09">Санкт-Петербург</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city10">
							<label for="city10">Белгород</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city11">
							<label for="city11">Краснодар</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city12">
							<label for="city12">Самара</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city13">
							<label for="city13">Иркутск</label>
						</div>
					</li>
					<li>
						<div class="frm-select">
							<input type="radio" name="city" id="city14">
							<label for="city14">Нижний Новгород</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->






<!--popup-outer-box-->
<div class="popup-outer-box popup-side" id="popup-order">
	<div class="popup-box">
		<div class="popup-title-wrap">
			<div class="popup-title">Ваш заказ</div>
			<div class="popup-title-actions">
				<a href="" class="btn-popup-close btn-action-ico ico-trash"></a>
				<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
			</div>
		</div>
		<div class="popup-content-wrap">
			
			<!--order-outer-wrap-->
				<div class="order-outer-wrap">
					
					<!--content-wrap-->
					<div class="content-wrap">
						<!--tiles-box-->
						<div class="tiles-box">
							<div class="items-wrap">
								<!--item wrap-->
								<div class="item-wrap wrap-full-d">
									<div class="item-tile-catalog tile-main type-row">
										<a href="" class="tile-button-delete btn-action-ico ico-del"></a>
										<div class="tile-photo-wrap">
											<div class="tile-slider-inner-wrap slider-tile">
												<div class="tile-slider-wrap swiper">
													<div class="tile-slider swiper-wrapper">
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
													</div>
													<div class="slider-pagination slider-tile-pagination slider-pagination-lines"></div>
												</div>
											</div>
										</div>
										<div class="tile-info-wrap">
											<div class="tile-main-wrap">
												<div class="tile-title-wrap">
													<div class="tile-title h4-title">Керамогранит Italon Терравива Грэй</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-features-wrap">
													<div class="tile-feature-row">
														<div class="tile-feature-title">Бренд</div>
														<div class="tile-feature-value">
															Эстет
															<div class="tile-ico ico-large">
																<img src="./img/icons/cat-logo.png" alt="">
															</div>
														</div>
													</div>
													<div class="tile-feature-row">
														<div class="tile-feature-title">Страна производителя</div>
														<div class="tile-feature-value">
															Россия
															<div class="tile-ico">
																<img src="./img/icons/cat-lang.png" alt="">
															</div>
														</div>
													</div>
												</div>
												<div class="tile-art-wrap tile-separate-wrap">
													<div class="tile-art">арт. 610015000489</div>
												</div>
											</div>
											<div class="tile-second-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price">14 000 руб./ м&sup2;</div>
													<div class="tile-price price-old">14 000 руб./ м&sup2;</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-counter-wrap">
													<div class="frm-field-select-panel">
														<div class="frm-select-button">
															<input type="radio" name="cat01" id="cat01-01" data-content="cat01-01" checked>
															<label for="cat01-01">
																<div class="lbl-title">м&sup2;</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat01" id="cat01-02" data-content="cat01-02">
															<label for="cat01-02">
																<div class="lbl-title">штуки</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat01" id="cat01-03" data-content="cat01-03">
															<label for="cat01-03">
																<div class="lbl-title">упаковки</div>
															</label>
														</div>
													</div>
													<div class="frm-content" data-content="cat01-01">
														<div class="frm-field-counter js-counter" name="cat01">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" м&sup2;" data-step="0.1" data-min="0" data-max="15">
														</div>
														<div class="tile-counter-value">12 шт или 6 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat01-02">
														<div class="frm-field-counter js-counter" name="cat01">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" шт." data-step="1" data-min="0" data-max="30">
														</div>
														<div class="tile-counter-value">15 шт или 9 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat01-03">
														<div class="frm-field-counter js-counter" name="cat01">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" уп." data-step="1" data-min="0" data-max="45">
														</div>
														<div class="tile-counter-value">2 шт или 2 упаковок</div>
													</div>
													
												</div>
												<div class="tile-actions-panel">
													<div class="tile-price-info">
														<div class="tile-price-title">Стоимость</div>
														<div class="tile-price-value">214 000 руб.</div>
													</div>
													<div class="tile-button-action">
														<a href="" class="btn-action-ico ico-fav-toggle button-active-toggle button-action-border js-btn-tgl"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/item wrap-->
								<!--item wrap-->
								<div class="item-wrap wrap-full-d">
									<div class="item-tile-catalog tile-main type-row">
										<a href="" class="tile-button-delete btn-action-ico ico-del"></a>
										<div class="tile-photo-wrap">
											<div class="tile-slider-inner-wrap slider-tile">
												<div class="tile-slider-wrap swiper">
													<div class="tile-slider swiper-wrapper">
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
													</div>
													<div class="slider-pagination slider-tile-pagination slider-pagination-lines"></div>
												</div>
											</div>
										</div>
										<div class="tile-info-wrap">
											<div class="tile-main-wrap">
												<div class="tile-title-wrap">
													<div class="tile-title h4-title">Керамогранит Italon Терравива Грэй</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-features-wrap">
													<div class="tile-feature-row">
														<div class="tile-feature-title">Бренд</div>
														<div class="tile-feature-value">
															Эстет
															<div class="tile-ico ico-large">
																<img src="./img/icons/cat-logo.png" alt="">
															</div>
														</div>
													</div>
													<div class="tile-feature-row">
														<div class="tile-feature-title">Страна производителя</div>
														<div class="tile-feature-value">
															Россия
															<div class="tile-ico">
																<img src="./img/icons/cat-lang.png" alt="">
															</div>
														</div>
													</div>
												</div>
												<div class="tile-art-wrap tile-separate-wrap">
													<div class="tile-art">арт. 610015000489</div>
												</div>
											</div>
											<div class="tile-second-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price">14 000 руб./ м&sup2;</div>
													<div class="tile-price price-old">14 000 руб./ м&sup2;</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-counter-wrap">
													<div class="frm-field-select-panel">
														<div class="frm-select-button">
															<input type="radio" name="cat02" id="cat02-01" data-content="cat02-01" checked>
															<label for="cat02-01">
																<div class="lbl-title">м&sup2;</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat02" id="cat02-02" data-content="cat02-02">
															<label for="cat02-02">
																<div class="lbl-title">штуки</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat02" id="cat02-03" data-content="cat02-03">
															<label for="cat02-03">
																<div class="lbl-title">упаковки</div>
															</label>
														</div>
													</div>
													<div class="frm-content" data-content="cat02-01">
														<div class="frm-field-counter js-counter" name="cat02">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" м&sup2;" data-step="0.1" data-min="0" data-max="15">
														</div>
														<div class="tile-counter-value">12 шт или 6 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat02-02">
														<div class="frm-field-counter js-counter" name="cat02">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" шт." data-step="1" data-min="0" data-max="30">
														</div>
														<div class="tile-counter-value">15 шт или 9 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat02-03">
														<div class="frm-field-counter js-counter" name="cat02">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" уп." data-step="1" data-min="0" data-max="45">
														</div>
														<div class="tile-counter-value">2 шт или 2 упаковок</div>
													</div>
													
												</div>
												<div class="tile-actions-panel">
													<div class="tile-price-info">
														<div class="tile-price-title">Стоимость</div>
														<div class="tile-price-value">214 000 руб.</div>
													</div>
													<div class="tile-button-action">
														<a href="" class="btn-action-ico ico-fav-toggle button-active-toggle button-action-border js-btn-tgl"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/item wrap-->
								<!--item wrap-->
								<div class="item-wrap wrap-full-d">
									<div class="item-tile-catalog tile-main type-row">
										<a href="" class="tile-button-delete btn-action-ico ico-del"></a>
										<div class="tile-photo-wrap">
											<div class="tile-slider-inner-wrap slider-tile">
												<div class="tile-slider-wrap swiper">
													<div class="tile-slider swiper-wrapper">
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
													</div>
													<div class="slider-pagination slider-tile-pagination slider-pagination-lines"></div>
												</div>
											</div>
										</div>
										<div class="tile-info-wrap">
											<div class="tile-main-wrap">
												<div class="tile-title-wrap">
													<div class="tile-title h4-title">Керамогранит Italon Терравива Грэй</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-features-wrap">
													<div class="tile-feature-row">
														<div class="tile-feature-title">Бренд</div>
														<div class="tile-feature-value">
															Эстет
															<div class="tile-ico ico-large">
																<img src="./img/icons/cat-logo.png" alt="">
															</div>
														</div>
													</div>
													<div class="tile-feature-row">
														<div class="tile-feature-title">Страна производителя</div>
														<div class="tile-feature-value">
															Россия
															<div class="tile-ico">
																<img src="./img/icons/cat-lang.png" alt="">
															</div>
														</div>
													</div>
												</div>
												<div class="tile-art-wrap tile-separate-wrap">
													<div class="tile-art">арт. 610015000489</div>
												</div>
											</div>
											<div class="tile-second-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price">14 000 руб./ м&sup2;</div>
													<div class="tile-price price-old">14 000 руб./ м&sup2;</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-counter-wrap">
													<div class="frm-field-select-panel">
														<div class="frm-select-button">
															<input type="radio" name="cat03" id="cat03-01" data-content="cat03-01" checked>
															<label for="cat03-01">
																<div class="lbl-title">м&sup2;</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat03" id="cat03-02" data-content="cat03-02">
															<label for="cat03-02">
																<div class="lbl-title">штуки</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat03" id="cat03-03" data-content="cat03-03">
															<label for="cat03-03">
																<div class="lbl-title">упаковки</div>
															</label>
														</div>
													</div>
													<div class="frm-content" data-content="cat03-01">
														<div class="frm-field-counter js-counter" name="cat03">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" м&sup2;" data-step="0.1" data-min="0" data-max="15">
														</div>
														<div class="tile-counter-value">12 шт или 6 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat03-02">
														<div class="frm-field-counter js-counter" name="cat03">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" шт." data-step="1" data-min="0" data-max="30">
														</div>
														<div class="tile-counter-value">15 шт или 9 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat03-03">
														<div class="frm-field-counter js-counter" name="cat03">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" уп." data-step="1" data-min="0" data-max="45">
														</div>
														<div class="tile-counter-value">2 шт или 2 упаковок</div>
													</div>
													
												</div>
												<div class="tile-actions-panel">
													<div class="tile-price-info">
														<div class="tile-price-title">Стоимость</div>
														<div class="tile-price-value">214 000 руб.</div>
													</div>
													<div class="tile-button-action">
														<a href="" class="btn-action-ico ico-fav-toggle button-active-toggle button-action-border js-btn-tgl"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/item wrap-->
								<!--item wrap-->
								<div class="item-wrap wrap-full-d">
									<div class="item-tile-catalog tile-main type-row">
										<a href="" class="tile-button-delete btn-action-ico ico-del"></a>
										<div class="tile-photo-wrap">
											<div class="tile-slider-inner-wrap slider-tile">
												<div class="tile-slider-wrap swiper">
													<div class="tile-slider swiper-wrapper">
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
														<div class="tile-sl-wrap swiper-slide">
															<div class="tile-photo photo-contain">
																<img src="./img/cat01.jpg" alt="">
															</div>
														</div>
													</div>
													<div class="slider-pagination slider-tile-pagination slider-pagination-lines"></div>
												</div>
											</div>
										</div>
										<div class="tile-info-wrap">
											<div class="tile-main-wrap">
												<div class="tile-title-wrap">
													<div class="tile-title h4-title">Керамогранит Italon Терравива Грэй</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-features-wrap">
													<div class="tile-feature-row">
														<div class="tile-feature-title">Бренд</div>
														<div class="tile-feature-value">
															Эстет
															<div class="tile-ico ico-large">
																<img src="./img/icons/cat-logo.png" alt="">
															</div>
														</div>
													</div>
													<div class="tile-feature-row">
														<div class="tile-feature-title">Страна производителя</div>
														<div class="tile-feature-value">
															Россия
															<div class="tile-ico">
																<img src="./img/icons/cat-lang.png" alt="">
															</div>
														</div>
													</div>
												</div>
												<div class="tile-art-wrap tile-separate-wrap">
													<div class="tile-art">арт. 610015000489</div>
												</div>
											</div>
											<div class="tile-second-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price">14 000 руб./ м&sup2;</div>
													<div class="tile-price price-old">14 000 руб./ м&sup2;</div>
													<div class="tile-sticker color-red">-40%</div>
												</div>
												<div class="tile-counter-wrap">
													<div class="frm-field-select-panel">
														<div class="frm-select-button">
															<input type="radio" name="cat04" id="cat04-01" data-content="cat04-01" checked>
															<label for="cat04-01">
																<div class="lbl-title">м&sup2;</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat04" id="cat04-02" data-content="cat04-02">
															<label for="cat04-02">
																<div class="lbl-title">штуки</div>
															</label>
														</div>
														<div class="frm-select-button">
															<input type="radio" name="cat04" id="cat04-03" data-content="cat04-03">
															<label for="cat04-03">
																<div class="lbl-title">упаковки</div>
															</label>
														</div>
													</div>
													<div class="frm-content" data-content="cat04-01">
														<div class="frm-field-counter js-counter" name="cat04">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" м&sup2;" data-step="0.1" data-min="0" data-max="15">
														</div>
														<div class="tile-counter-value">12 шт или 6 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat04-02">
														<div class="frm-field-counter js-counter" name="cat04">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" шт." data-step="1" data-min="0" data-max="30">
														</div>
														<div class="tile-counter-value">15 шт или 9 упаковок</div>
													</div>
													<div class="frm-content" data-content="cat04-03">
														<div class="frm-field-counter js-counter" name="cat04">
															<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
															<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
															<input type="text" value="1" class="form-input js-input-counter" data-unit=" уп." data-step="1" data-min="0" data-max="45">
														</div>
														<div class="tile-counter-value">2 шт или 2 упаковок</div>
													</div>
													
												</div>
												<div class="tile-actions-panel">
													<div class="tile-price-info">
														<div class="tile-price-title">Стоимость</div>
														<div class="tile-price-value">214 000 руб.</div>
													</div>
													<div class="tile-button-action">
														<a href="" class="btn-action-ico ico-fav-toggle button-active-toggle button-action-border js-btn-tgl"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/item wrap-->
							</div>
						</div>
						<!--/tiles-box-->
					</div>
					<!--/content-wrap-->
					
					<!--side-wrap-->
					<div class="side-wrap">
						
						<!--order-box-->
						<div class="order-box">
							<div action="/" class="form-inner-wrap">

								<!--frm-total-wrap-->
								<div class="frm-total-wrap">
									<div class="form-separate"></div>
									<div class="features-inner-wrap">
										<div class="elm-feature-row row-main">
											<div class="elm-feature-title">Итого</div>
											<div class="elm-feature-value text-att">249 000 руб.</div>
										</div>
										<div class="elm-feature-row row-second">
											<div class="elm-feature-title">Выгода</div>
											<div class="elm-feature-value text-alert">– 9 960 руб.</div>
										</div>
										<div class="elm-feature-row">
											<div class="elm-feature-title">Стоимость товаров</div>
											<div class="elm-feature-value text-light">225 000 руб.</div>
										</div>
										<div class="elm-feature-row">
											<div class="elm-feature-title">Доставка</div>
											<div class="elm-feature-value text-light">24 000 руб.</div>
										</div>
										<div class="elm-feature-row">
											<div class="elm-feature-title">Вес</div>
											<div class="elm-feature-value text-light">1 тонна</div>
										</div>
									</div>
									<div class="action-inner-wrap">
										<button type="submit" class="btn">
											<div class="button-title">Оформить заказ</div>
										</button>
									</div>
								</div>
								<!--/frm-total-wrap-->

							</div>
						</div>
						<!--/order-box-->
						
					</div>
					<!--/side-wrap-->
					
				</div>
				<!--/order-outer-wrap-->
			
		</div>
	</div>
</div><!--/popup-outer-box-->