<!--header-->
<div class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="location-inner-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/location-white.svg" alt="">
					</div>
					<div class="button-title">Санкт-Петербург</div>
				</a>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О компании</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Доставка и оплата</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Вопросы и ответы</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="contacts-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">8(812)578-77-77</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn btn-popup js-btn-popup-toggle">
					<div class="button-ico">
						<img src="./img/icons/menu.svg" alt="">
					</div>
					<div class="button-title">Каталог</div>
				</a>
				<div class="popup-content-block js-popup-block">
					<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
					<div class="popup-menu-content">
						<ul class="menu menu-main">
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Параметрам</div>
								</a>
								<div class="submenu-inner-wrap">
									<ul class="menu">
										<li>
											<div class="menu-title">Вид товара</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Керамогранит</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Керамическая плитка</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Мозаика</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ступени</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Декор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Бордюры</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Аксессуары</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Сопутствующие товары</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прочее</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Помещение</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ванная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кухня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Гостиная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Спальня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Офис</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Улица</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Коридор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Общественные</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Помещения</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Стиль</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Моноколор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Лофт</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Классика</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Винтаж</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Современный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прованс</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кантри</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Флора/фауна</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Пэчворк</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Форма</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прямоугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Квадратная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ромб</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Шестиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Восьмиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Круглая</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Треугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Овальная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кабанчик</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Поверхность</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Глянцевый</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Матовый</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Патинированный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Структурированный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Шлифованный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Силк</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Применение</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Уличный Керамогранит</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Напольная плитка</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Настенная плитка</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Имитация </div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Под мрамор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Под дерево</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Под камень</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Под бетон</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Под стекло</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Формат</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Мелкий</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Средний</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Крупный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Гранд</div>
													</a>
												</li>
											</ul>
										</li>
										<li class="menu-sizes">
											<div class="menu-title">Размер</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">7,5х30</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">15х120</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">30х30</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">20х120</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">20х160</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">22,5х90</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">25х75</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">30х120</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">30х60</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">40х80</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">45х90</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">59,6х59,6</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">59х59</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">60х120</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">60х60</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">79х159</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">80х160</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">80х80</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">120х120</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">120х278</div>
													</a>
												</li>
											</ul>
										</li>
										<li class="menu-colors">
											<div class="menu-title">Цвет</div>
											<ul>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color01.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color02.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color03.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color04.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color05.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color06.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color07.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color08.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color01.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color02.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color03.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color04.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color05.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color06.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color07.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color08.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color01.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color02.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color03.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color04.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color05.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color06.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color07.svg" alt="">
													</div>
												</li>
												<li>
													<div class="elm-color">
														<img src="./img/icons/color08.svg" alt="">
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Бренды</div>
								</a>
								<div class="submenu-inner-wrap">
									<ul class="menu">
										
										<li>
											<div class="menu-title">Помещение</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ванная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кухня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Гостиная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Спальня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Офис</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Улица</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Коридор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Общественные</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Помещения</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Стиль</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Моноколор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Лофт</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Классика</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Винтаж</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Современный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прованс</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кантри</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Флора/фауна</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Пэчворк</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Форма</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прямоугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Квадратная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ромб</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Шестиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Восьмиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Круглая</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Треугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Овальная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кабанчик</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Поверхность</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Глянцевый</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Матовый</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Патинированный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Структурированный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Шлифованный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Силк</div>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Страны</div>
								</a>
								<div class="submenu-inner-wrap">
									<ul class="menu">
										
										<li>
											<div class="menu-title">Стиль</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Моноколор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Лофт</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Классика</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Винтаж</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Современный</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прованс</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кантри</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Флора/фауна</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Пэчворк</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Вид товара</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Керамогранит</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Керамическая плитка</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Мозаика</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ступени</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Декор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Бордюры</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Аксессуары</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Сопутствующие товары</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прочее</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Помещение</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ванная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кухня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Гостиная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Спальня</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Офис</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Улица</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Коридор</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Общественные</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Помещения</div>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<div class="menu-title">Форма</div>
											<ul>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Прямоугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Квадратная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Ромб</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Шестиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Восьмиугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Круглая</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Плинтусы</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Треугольная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Овальная</div>
													</a>
												</li>
												<li>
													<a href="" class="btn-menu">
														<div class="button-title">Кабанчик</div>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="" class="btn-menu color-red">
									<div class="button-title">Распродажа %</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="search-inner-wrap popup-search-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-search js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Поиск">
						<button type="submit" class="button-form btn-action-ico ico-search"></button>
					</form>
				</div>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap action-login">
					<a href="" class="btn-action">
						<div class="button-ico">
							<img src="./img/icons/login.svg" alt="">
						</div>
						<div class="button-title">Войти</div>
					</a>
				</div>
				<div class="action-wrap action-fav">
					<a href="" class="btn-action" data-count="9">
						<div class="button-ico">
							<img src="./img/icons/fav.svg" alt="">
						</div>
						<div class="button-title">Избранное</div>
					</a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn-action" data-count="9">
						<div class="button-ico">
							<img src="./img/icons/cart.svg" alt="">
						</div>
						<div class="button-title">Корзина</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</div>
<!--/header-->
